body {
	background: lightpink;
}
#wheelContainer {
	width: 500px;
	margin: 0 auto;
	margin-top: -25px;
}
#wheel {
	width: 500px;
}
#buttonContainer img {
	width: 150px;
	padding-top: 10px;
}
#buttonContainer {
	width: 150px;
	margin: 0 auto;
}
#clickerContainer img {
	position: relative;
	width: 35px;
	z-index: 10;
}
#clickerContainer {
	width: 35px;
	margin: 0 auto;
}

